{% extends 'templating.html' %}
{% load crispy_forms_tags %}
{% load static %}
	{% block metatag %}
	<title>Astro Website</title>		
	{% endblock %}
	{% block content %}	

<hr><hr><hr><hr><hr><hr><hr>

<div class="jumbotron">
<div class="container">
<div class="card card-body">


<form action="" method="POST">
	
	{% csrf_token %}
	<div class="row">
	  <div class="col-md-6">
	  <hr>	
	    <Label for="image"><h6>{{ form.image.label }}</h6></Label>
        
	    {{ form.image}}<br>
      <br>
      </div>
  </div>
     
    
    <div class="row">
      <div class="col-md-4">
      <hr>  
      <Label for="zodiac"><h6>{{ form.zodiac.label }}</h6></Label>
        <hr>
      {{ form.zodiac }}<br>
      <br>
      </div>
      <div class="col-md-4">
      <hr>  
      <Label for="year"><h6>{{ form.year.label }}</h6></Label>
        <hr>
      {{ form.year}}<br>
      <br>
      </div>
      <div class="col-md-4">
      <hr>	
	    <Label for="category"><h6>{{ form.category.label }}</h6></Label>
        <hr>
	    {{ form.category}}<br>
      <br>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
    <hr>	
	    <Label for="content"><h6>{{ form.content.label }}</h6></Label>
        <hr><h6></h6>
	    {{ form.content }}<br>
    <br>
    </div>
    </div>
   
    <input type="submit" name="Submit">
</form>

</div>
</div>
</div>
{% endblock %}