{% extends 'templating.html' %}

{% load static %}
	{% block metatag %}
	<title>Astro Website</title>		
	{% endblock %}
	{% block content %}	

<hr><hr><hr><hr><hr><hr><hr>

<div class="jumbotron">
<div class="container">
<div class="card card-body">


<form action="" method="POST">
	
	{% csrf_token %}
	<div class="row">
	  <div class="col-md-6">
	    <hr>	
	    <Label for="name"><h6>{{ form.name.label }}</h6></Label>
      <hr>  
	    {{ form.name}}<br>
      <br>
      </div>
    <div class="col-md-6">
      <hr>  
      <Label for="gender"><h6>{{ form.gender.label }}</h6></Label>
        <hr>
      {{ form.gender}}<br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <hr>  
      <Label for="birth_date"><h6>{{ form.birth_date.label }}</h6></Label>
        <hr>
      {{ form.birth_date }}<br>
      <br>
    </div>
    <div class="col-md-4">
      <hr>	
	    <Label for="birth_time"><h6>{{ form.birth_time.label }}</h6></Label>
      <hr>
	    {{ form.birth_time}}<br>
      <br>
    </div>
    <div class="col-md-4">
      <hr>	
	    <Label for="birth_place"><h6>{{ form.birth_place.label }}</h6></Label>
        <hr>
	    {{ form.birth_place}}<br>
      <br>
    </div>
  </div>
   
    <input type="submit" name="Submit">
</form>

</div>
</div>
</div>
{% endblock %}